.vs/*

src/MiniAuth.Api/bin/*
src/MiniAuth.Api/obj/*

src/MiniAuth.Application/bin/*
src/MiniAuth.Application/obj/*

src/MiniAuth.Domain/bin/*
src/MiniAuth.Domain/obj/*

src/MiniAuth.Infrastructure/bin/*
src/MiniAuth.Infrastructure/obj/*

tests/MiniAuth.IntegrationTests/bin/*
tests/MiniAuth.IntegrationTests/obj/*

tests/MiniAuth.UnitTests/bin/*
tests/MiniAuth.UnitTests/obj/*